/* This is the default button style */
:root{
    --btn-color: #000000;
    --btn-color-hover: linear-gradient(135deg, #444, #555);
    --btn-shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.15);
    --btn-transform-hover: scale(1.03);
}


* {
    box-sizing: border-box;
    font-family: 'Lucida Console', monospace;
    margin: 0;
    padding: 0;
}
body {
    background: url("../images/frontpage-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

