
{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <header>
        <div class="logo">
            <p>InspirePay</p>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#" class="link" id="logOut">Log Out</a></li>
            </ul>
        </div>
    </header>


    <main>
        <h1>My Bank Account</h1>

        <div class="wrapper">
            <div class="acc_infocard">
                <h3>{{ full_name }}</h3>
    
                <div>
                    <label for="acc_num">Account Number: </label>
                    <p id="acc_num">{{ acc_num }}</p>
                </div>
                
                <div>
                    <label for="acc_bal">Balance: </label>
                    <p id="acc_bal">₱{{ balance }}</p>
                </div>
            </div>
        </div>
        
        <div class="wrapper">
            <div class="buttons">
                <button>Transact With Teller</button>
                <button>Request Loan</button>
                <button>Use ATM</button>
            </div>
        </div>
        
    </main>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
{% endblock %}