<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home_page.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>InspirePay</p>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#link" class="link">About</a></li>
                <li><a href="#link" class="link">Services</a></li>
                <li><a href="#link" class="link">Contact</a></li>
                <li><a href="#link" class="link home">Home</a></li>
                <li><a href="#link" class="link">Log Out</a></li>
            </ul>
        </div>
    </header>


    <main>
        <h1>My Bank Account</h1>

        <div class="wrapper">
            <div class="acc_infocard">
                <h3>Amran Gabarda</h3>
    
                <div>
                    <label for="acc_num">Account Number: </label>
                    <p id="acc_num">1234 1234 1234 1234</p>
                </div>
                
                <div>
                    <label for="acc_bal">Balance: </label>
                    <p id="acc_bal">₱999,999</p>
                </div>
            </div>
        </div>
        
        <div class="wrapper">
            <div class="buttons">
                <button>Transact With Teller</button>
                <button>Request Loan</button>
                <button>Use ATM</button>
            </div>
        </div>
        
    </main>
    
</body>
</html>