<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>InspirePay</title>
    <style>
        .customer-box {
            display: none;
        }
    </style>
</head>
<body>
    <nav class ="nav">
        <div class="nav-logo">
            <p>InspirePay</p>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="#link" class="link">About</a></li>
                <li><a href="#link" class="link">Services</a></li>
                <li><a href="#link" class="link">Contact</a></li>
                <li><a href="#link" class="link home">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div class="nav-button-container">
            <button class="nav-btn" id="customerbtn">Customer</button>
            <button class="nav-btn" id="tellerbtn">Teller</button>
            <button class="nav-btn" id="managerbtn">Manager</button>
        </div>
    </div>

<!-------------------------Customer Login--------------------------------------->
<div class="customer-box"id="customerBox">
    <!---------Login Form--------------->
    <div class="login-container" id="login">
        <div class="form-box">
            <div class="top">
                <h2>Customer</h2>
            </div>
            <div class="two-forms">
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="username@gmail.com">
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password">
                </div>
            </div>
            <div class="col">
                <input type="checkbox" id="login-check">
                <label for="register-check">Remember Me</label>
            </div>
            <form action="#" method="post">
                <div class="login-box">
                  <input type="submit" class="submit" value="Login">
                </div>
            </form>
            <div class="no-account">
                <span>No account? <a href="#" onclick="signup()">Sign up</a></span>
            </div>
        </div>
    </div>
</div>
<script>
    const customerBtn = document.getElementById('customerbtn');
    const wrapper = document.querySelector('.wrapper');
    const customerBox = document.getElementById('customerBox');

    customerBtn.addEventListener('click', () => {
      wrapper.style.display = 'none'; 
      customerBox.style.display = 'block'; 
    });

    backBtn.addEventListener('click', () => {
      customerBox.style.display = 'none'; 
      wrapper.style.display = 'block'; 
    });
  </script>
</body>
<!-------------------------Customer Page--------------------------------------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>MY BANK ACCOUNT</title>
    <style>
        .customer-box {
            display: none;
        }
    </style>
</head>
</html>