<!-------------------------Sign Up Page--------------------------------------->
<body>
    <nav class ="nav">
        <div class="nav-logo">
            <p>InspirePay</p>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="#link" class="link">About</a></li>
                <li><a href="#link" class="link">Services</a></li>
                <li><a href="#link" class="link">Contact</a></li>
                <li><a href="#link" class="link home">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="title">Start your Banking Journey with Us!</div>
    <div class="signup-forms">
        <div class="input-box">
            <input type="text" class="input-field" placeholder="First Name">
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Last Name">
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Birthdate (YYYY-MM-DD)">
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Monthly Salary">
        </div>
        <div class="input-box">
            <input type="email" class="input-field" placeholder="email@gmail.com">
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password">
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Re-Enter Password">
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Bank Account Pin">
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Starting Balance">
        </div>
    </div>
    <form action="#" method="post">
        <div class="Signup-box">
          <input type="submit" class="submit" value="Signup">
        </div>
    </form>
</body>