<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/sign_up.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>InspirePay</p>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#link" class="link">About</a></li>
                <li><a href="#link" class="link">Services</a></li>
                <li><a href="#link" class="link">Contact</a></li>
                <li><a href="#link" class="link home">Home</a></li>
            </ul>
        </div>
    </header>

    <main>
        <h2>Start Your Banking Journey With Us!</h2>
        <div class="signup-box" id="SignupBox">
            <div class="signup-container" id="signup">
                <div class="inputbox">
                    <div class="forms">
                        <label>First Name</label>
                        <input type="text" id="first_name" placeholder="">
                        <label>Last Name</label> Name</label>
                        <input type="text" id="last_name" placeholder="">
                        <label>Birthdate</label>
                        <input type="date" id="bdate" placeholder="">
                        <label>Email</label>
                        <input type="text" id="email" placeholder="">
                        <label>Password</label>
                        <input type="password" id="password" placeholder="">
                        <label>Re-enter Password</label>
                        <input type="password" id="re-password" placeholder="">
                        <label>Monthly Salary</label>
                        <input type="number" id="monthly_salary" placeholder="">
                        <label>Bank Account Pin</label>
                        <input type="number" id="pin" placeholder="">
                        <label>Starting Balance</label>
                        <input type="number" id="start_bal" placeholder="">
                    </div>
                    <div class="button-container">
                        <button class="signup-box" type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>